## Условие 1:
Оформляйте ноутбук, используя эти советы:
- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3<br>

Предоставленные наборы данных оформляйте, как код

## Условие 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def total(fruits):
    return sum(fruits.values())

In [2]:
fruits = {'apples': 10, 'pears': 20, 'bananas': 30}

In [3]:
total(fruits)

60

In [4]:
def total1(**fruits):
    return sum(fruits.values())

In [5]:
total1(apples=10, pears=20, bananas=30)

60

## Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [6]:
expenses=[100, 125, -90, 345, 655, -1, 0, 200]
expenses1=[i for i in expenses if i>0]
print(f'Сумма списка {expenses1} равна {sum(expenses1)}.')

Сумма списка [100, 125, 345, 655, 200] равна 1425.

## Условие 4:
Даны два списка.<br>
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']<br>
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [7]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
value = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [8]:
dict01={date[i]:value[i] for i in range(len(date))}
dict01

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

In [9]:
dict02={value[i]:date[i] for i in range(len(value))}
dict02

{1270: '2021-09-14',
 8413: '2021-12-15',
 9028: '2021-09-08',
 3703: '2021-12-05',
 5739: '2021-10-09',
 4095: '2021-09-30',
 295: '2021-12-22',
 4944: '2021-11-29',
 5723: '2021-12-24',
 3701: '2021-11-26',
 4471: '2021-10-27',
 651: '2021-12-18',
 7037: '2021-11-09',
 4274: '2021-11-23',
 6275: '2021-09-27',
 4988: '2021-10-02',
 6930: '2021-12-27',
 2971: '2021-09-20',
 6592: '2021-12-13',
 2004: '2021-11-01',
 2822: '2021-11-09',
 519: '2021-12-06',
 3406: '2021-12-08',
 2732: '2021-10-09',
 5015: '2021-10-31',
 2008: '2021-09-30',
 316: '2021-11-09',
 6333: '2021-12-13',
 5700: '2021-10-26',
 2887: '2021-12-09'}

In [10]:
print(len(date),len(value),len(dict01),len(dict02))

30 30 25 30

In [11]:
dict011={date[i]:value[i] for i in range(len(date)) if date[i][5:7] =='11'}
dict011

{'2021-11-29': 4944,
 '2021-11-26': 3701,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-11-01': 2004}

In [12]:
# неверно ноябрь
sum(dict011.values())

15239

In [13]:
dict11={value[i]:date[i] for i in range(len(value)) if date[i][5:7] =='11'}
dict11

{4944: '2021-11-29',
 3701: '2021-11-26',
 7037: '2021-11-09',
 4274: '2021-11-23',
 2004: '2021-11-01',
 2822: '2021-11-09',
 316: '2021-11-09'}

In [14]:
# верно ноябрь
sum(dict11.keys())

25098

In [15]:
# верно сентябрь
dict09={value[i]:date[i] for i in range(len(date)) if date[i][5:7] =='09'}
sum(dict09.keys())

25647

In [16]:
# верно октябрь
dict10={value[i]:date[i] for i in range(len(date)) if date[i][5:7] =='10'}
sum(dict10.keys())

28645

In [17]:
# верно декабрь
dict12={value[i]:date[i] for i in range(len(date)) if date[i][5:7] =='12'}
sum(dict12.keys())

45452

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [18]:
def sum_per_month(date: list, value: list) -> dict:
    res = {}
    for d, v in zip(date, value):
        if d[5:7] in res.keys():
            res[d[5:7]] += v
        else:
            res[d[5:7]] = v
    for key in sorted(res):
        print(f'В {key} месяце выручка равна {res[key]}.')
    return res

sum_per_month(date, value)

В 09 месяце выручка равна 25647.
В 10 месяце выручка равна 28645.
В 11 месяце выручка равна 25098.
В 12 месяце выручка равна 45452.

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}